// Buttons
// -------------------------------

//颜色

//normal状态
$button-primary-bgColor:#f60;
$button-normal-bgColor:#fff;
$button-primary-color:#fff;
$button-normal-color:#333;
$button-primary-bdColor:transparent;
$button-normal-bdColor:#999;


//press状态
$button-primary-active-bgColor:#f40;
$button-normal-active-bgColor:#ddd;
//disable状态
$button-disable-bgColor:#eee;
$button-disable-color:#ccc;
$button-disable-bdColor:#ddd;

//警告背景
$button-warn-bgColor:#f33;
$button-warn-active-bgColor:#900;


//文字

$button-small-fSize:14px;
$button-normal-fSize:16px;

//尺寸
$button-small-height:28px;
$button-normal-height:40px;



//边距

$button-margin-top:8px!default;
$button-margin-bottom:8px!default;
$button-padding-left:8px!default;
$button-padding-right:8px!default;

//圆角
$button-radius:2.5px;